<div>
    <h2 data-translate="ftpcountbuddyApp.fileCatalog.home.title">File Catalogs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="file-catalog.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ftpcountbuddyApp.fileCatalog.home.createLabel">
                        Create new File Catalog
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="path"><span data-translate="ftpcountbuddyApp.fileCatalog.path">Path</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="processed"><span data-translate="ftpcountbuddyApp.fileCatalog.processed">Processed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deleted"><span data-translate="ftpcountbuddyApp.fileCatalog.deleted">Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="insert"><span data-translate="ftpcountbuddyApp.fileCatalog.insert">Insert</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="processFinishDate"><span data-translate="ftpcountbuddyApp.fileCatalog.processFinishDate">Process Finish Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deviceId"><span data-translate="ftpcountbuddyApp.fileCatalog.deviceId">Device Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="uuid"><span data-translate="ftpcountbuddyApp.fileCatalog.uuid">Uuid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span data-translate="ftpcountbuddyApp.fileCatalog.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fileCatalog in vm.fileCatalogs track by fileCatalog.id">
                    <td><a ui-sref="file-catalog-detail({id:fileCatalog.id})">{{fileCatalog.id}}</a></td>
                    <td>{{fileCatalog.path}}</td>
                    <td>{{fileCatalog.processed}}</td>
                    <td>{{fileCatalog.deleted}}</td>
                    <td>{{fileCatalog.insert | date:'medium'}}</td>
                    <td>{{fileCatalog.processFinishDate | date:'medium'}}</td>
                    <td>{{fileCatalog.deviceId}}</td>
                    <td>{{fileCatalog.uuid}}</td>
                    <td>{{fileCatalog.url}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="file-catalog-detail({id:fileCatalog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-catalog.edit({id:fileCatalog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="file-catalog.delete({id:fileCatalog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
